@model IEnumerable<VerstaTask.Models.Order>

@{
    ViewBag.Title = "Список заказов";
    Layout = "_Layout";
}

<h2>Список заказов</h2>
<div>
    <table class="table table-striped">
        <tr>
        <td>
            Номер заказа
        </td>
        <td>
            Город отправителя
        </td>
        <td>
            Адрес отправителя
        </td>
        <td>
            Город получателя
        </td>
        <td>
            Адрес получателя
        </td>
        <td>
            Вес груза
        </td>
        <td>
            Дата забора груза
        </td>
        <td>
            Действия с заказом
        </td>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.Id
                </td>
                <td>
                    @item.SenderCity
                </td>
                <td>
                    @item.SenderAddress
                </td>
                <td>
                    @item.RecipientCity
                </td>
                <td>
                    @item.RecipientAddress
                </td>
                <td>
                    @item.CargoWeight
                </td>
                <td>
                    @item.PickupDate.ToString("MM/dd/yyyy HH:mm tt")
                </td>
                <td>
                      <a class="btn btn-outline-primary" asp-action="Edit" asp-route-id="@item.Id">Редактировать</a>
                                            <a asp-controller="Order"
                                               asp-action="Delete"
                                               asp-route-id="@item.Id">
                                                <button class="btn btn-outline-danger">
                                                    Удалить
                                                </button>
                                            </a>
                </td>
            </tr>
        }
    </table>
    <a class="btn btn-outline-success" asp-action="Add">Добавить заказ</a>
</div>
